<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status" class="row">

  <div class="col-md-6">
    <ba-card title="Rekapitulasi Seminar" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataSeminar">
        <div *ngFor="let i of tahunSeminar" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="dataSeminar[i]"
                  [labels]="dataLabel"
                  [chartType]="pieChartType">
          </canvas><br />
          Sudah Seminar : <b>{{dataSeminar[i][0]}}</b><br />
          Belum Seminar : <b>{{dataSeminar[i][1]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>

  <div class="col-md-6">
    <ba-card title="Rekapitulasi Jenis Seminar" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataSeminar">
        <div *ngFor="let i of tahunSeminar" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="jenisSeminar[i]"
                  [labels]="dataLabelJenis"
                  [chartType]="pieChartType">
          </canvas><br />
          Belum Seminar : <b>{{jenisSeminar[i][0]}}</b><br />
          Seminar Konferensi : <b>{{jenisSeminar[i][1]}}</b><br />
          Mini Conference : <b>{{jenisSeminar[i][2]}}</b><br />
          Seminar Mandiri : <b>{{jenisSeminar[i][3]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>

  <div class="col-md-12">
    <ba-card title="Rekap File Seminar" baCardClass="with-scroll table-panel">
      <div class="row"><br /></div>

      <div class="row col-md-12" *ngIf="dataSeminarAll">
        <br>
        <ng2-smart-table (userRowSelect)="test($event)" (userRowSelect)="lgModal.show()" [settings]="settings" [source]="dataSeminarAll"></ng2-smart-table>
      </div>
    </ba-card>
  </div>

</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-6">
            <h4 class="modal-title pull-left">Detail Seminar</h4>
          </div>
          <div class="col-md-6">
            <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="">

        </div>
        <!-- <div *ngIf="jenis_seminar == 3">
          mandiri
        </div>
        <div *ngIf="jenis_seminar == 1">
          konferensi
        </div>
        <div *ngIf="jenis_seminar == 2">
          micon
        </div> -->
      </div>
    </div>
  </div>
</div>
