<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()">
        <i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status">


  <div class="row" *ngIf="log < 10 || !log">
    <div class="col-md-12">
      <alert type="danger">
        <h4>Maaf, kamu belum mengisi Log Bimbingan minimal 10 kali atau log bimbingan kamu belum disetujui oleh dosen pembimbing.</h4>
        <p>Silahkan hubungi dosen pembimbing untuk menyetujui log bimbingan kamu.</p>
      </alert>
    </div>
  </div>

  <div *ngIf="log >= 10">

    <div *ngIf="!statusPraseminar">
      <alert type="danger">
        <h4> Kamu belum melaksanakan Praseminar. </h4>
      </alert>
    </div>

    <div *ngIf="statusPraseminar">

      <div class="row" *ngIf="log >= 10">
        <div class="col-md-12">

          <alert type="info">
            <h4> Pilihan Seminar : Konferensi Nasional / Internasional, Seminar Mini Conference, Seminar Mandiri.</h4>
            Silahkan pilih salah satu pilihan seminar yang kamu lakukan.
          </alert>

          <div *ngIf="dataSeminar">
            <div *ngIf="dataSeminar.seminar.jenis_seminar == 1">
              <alert type="danger">
                <h4>Kamu telah memilih Seminar Konferensi Nasional / Internasional</h4>
                <p>Silahkan hapus terlebih dahulu data seminar sebelumnya untuk mengisi Form Ini.</p>
              </alert>

              <br>

              <div class="col-md-12 text-center">
                <button (click)="delete()" class="btn btn-danger">
                  Hapus Data Seminar
                </button>
              </div>
            </div>
          </div>


          <div *ngIf="dataSeminar">
            <div *ngIf="dataSeminar.seminar.jenis_seminar == 2">
              <alert type="danger">
                <h4>Kamu telah memilih Seminar Mini Conference</h4>
                <p>Silahkan hapus terlebih dahulu data seminar sebelumnya untuk mengisi Form Ini.</p>
              </alert>

              <br>

              <div class="col-md-12 text-center">
                <button (click)="delete()" class="btn btn-danger">
                  Hapus Data Seminar
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="dataSeminar">
            <div *ngIf="dataSeminar.seminar.jenis_seminar == 3 || dataSeminar.seminar == false">
              <div *ngIf="statusAdmin === 1 && statusTempat === 1">
                <alert type="success">
                  <h4>Kamu telah melaksakan
                    <b>Seminar Mandiri</b>.</h4>
                  Jika ingin mengulang, silahkan hubungi komisi pendidikan untuk melakukan pengajuan pelaksanaan seminar mandiri ulang.
                </alert>
              </div>
              <div *ngIf="statusAdmin !== 1 && statusTempat !== 1">
                <ba-card title="Pengajuan Pelaksanaan Seminar Mandiri" baCardClass="with-scroll">
                  <div class="">
                    <!-- nama & nim-->
                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-4 col-sm-12">
                        <div class="row">
                          <div class="col-md-2">
                            <b>Nama</b>
                          </div>
                          <div class="col-md-8">
                            : {{data.nama}}
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-2">
                            <b>NIM</b>
                          </div>
                          <div class="col-md-8">
                            : {{data.nim}}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-8 col-sm-12">
                        <div class="row">
                          <div class="col-md-5">
                            <b>Pembimbing Ketua</b>
                          </div>
                          <div class="col-md-7">
                            : {{dosen1}}
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <b>Pembimbing Anggota</b>
                          </div>
                          <div class="col-md-7">
                            : {{dosen2}}
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <b>Penguji Pertama</b>
                          </div>
                          <div class="col-md-7">
                            : {{penguji1}}
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <b>Penguji Kedua</b>
                          </div>
                          <div class="col-md-7">
                            : {{penguji2}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <form class="row form-inline" (ngSubmit)="submit(data.nim)">
                    <div class="col-md-12">
                      <hr>
                    </div>
                    <br>
                    <div *ngIf="statusForm === 0 || !statusForm">
                      <div class="col-md-12">
                        <div class="alert alert-info">
                          <p>
                            <b>Perhatian ! Sebelum mengisi form berikut, silahkan hubungi Dosen Pembimbing dan Penguji untuk
                              persetujuan kehadiran di Seminar kamu.</b>
                            <br>
                          </p>
                          <p>Informasi yang kamu isi di bawah ini harus merupakan kesepakatan antara kamu, dosen
                            pembimbing, penguji, dan pembahas. Formulir pengajuan pembahas seminar mandiri dan unggah makalah seminar akan diaktifkan setelah
                            dosen pembimbing dan dosen penguji menyetujui waktu pelaksanaan.</p>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="statusForm === 1">
                      <div class="col-md-12">
                        <div class="alert alert-info">
                          <p>
                            <b>Perhatian !</b>
                            <br>
                          </p>
                          <p>Kamu telah mengajukan waktu pelaksanaan seminar mandiri. Mohon tunggu konfirmasi berikutnya. Jika
                            ingin memperbaharui topik penelitian, silahkan kembali mengeklik tombol
                            <code>Daftar</code>
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- Topik -->
                    <div class="form-group col-md-12 col-xs-12">
                      <label>
                        <p href primary>
                          <b>Topik</b>
                        </p>
                      </label>
                      <br />
                      <textarea class="form-control" style="width:100%" name="topik" [(ngModel)]="topik" placeholder="Judul paper kamu" required></textarea>
                    </div>
                    <div *ngIf="statusForm === 0 || !statusForm">
                      <div class="col-sm-12 col-md-12 col-xs-12">
                        <br />
                      </div>
                      <!-- Jam -->
                      <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label>
                          <p href primary>
                            <b>Jam</b> (format: 24:00)</p>
                        </label>
                        <br />
                        <input class="form-control" type="text" name="jam" required [(ngModel)]="jam" placeholder="24:00" />
                      </div>

                      <!-- Tanggal -->
                      <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label>
                          <p href primary>
                            <b>Tanggal</b> (format: 2017-01-01)</p>
                        </label>
                        <br />
                        <!--<input type="date" name="tanggal" class="form-control" required  [(ngModel)]="tanggal" style="height:36px"/>-->
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateFormat" (dateChanged)="onDateChanged($event)"
                          required></my-date-picker>

                      </div>
                    </div>
                    <div class="section-block col-md-12 text-right">
                      <label padding-left for="pembimbing">&nbsp;</label>
                      <br />
                      <button type="submit" class="btn btn-primary btn-lg" [disabled]="statusAdmin === 1">Daftar</button>
                    </div>
                  </form>
                </ba-card>
                <div *ngIf="statusForm === 2">
                  <ba-card title="Pengajuan Pembahas dan Makalah pada Seminar Mandiri" baCardClass="with-scroll">
                    <form class="row form-inline" (ngSubmit)="submitDua()">
                      <!-- app.component.html -->

                      <div *ngIf="!upload" class="col-md-12">
                        <alert type="info">
                          Silahkan daftarkan pembahas seminar terlebih dahulu untuk melakukan
                          <b>Upload file makalah / berkas seminar</b>
                        </alert>
                      </div>

                      <!-- Pembahas 1 -->
                      <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label>
                          <p href primary>
                            <b>NIM Pembahas 1</b>
                          </p>
                        </label>
                        <br />
                        <input class="form-control" type="text" name="pembahas_1" [(ngModel)]="pembahas_1" placeholder="NIM Pembahas 1" required/>
                      </div>

                      <!-- Pembahas 2 -->
                      <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label>
                          <p href primary>
                            <b>NIM Pembahas 2</b>
                          </p>
                        </label>
                        <br />
                        <input class="form-control" type="text" name="pembahas_2" [(ngModel)]="pembahas_2" placeholder="NIM Pembahas 2" required/>
                      </div>

                      <!-- Pembahas 3 -->
                      <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label>
                          <p href primary>
                            <b>NIM Pembahas 3</b>
                          </p>
                        </label>
                        <br />
                        <input class="form-control" type="text" name="pembahas_3" [(ngModel)]="pembahas_3" placeholder="NIM Pembahas 3" required/>
                      </div>

                      <div class="col-sm-12 col-md-12 col-xs-12">
                        <br />
                      </div>

                      <!-- Submit -->
                      <div class="section-block col-md-12 text-right">
                        <label padding-left for="pembimbing">&nbsp;</label>
                        <br />
                        <button type="submit" class="btn btn-primary btn-lg">Daftar</button>
                      </div>



                      <div class="col-sm-12 col-md-12 col-xs-12">
                        <hr />
                      </div>

                      <!-- app.component.html -->
                      <div class="col-md-12" *ngIf="upload">
                        <label class="row col-md-12">
                          <p href primary>
                            <b>Upload Makalah Seminar Mandiri</b>
                          </p>
                        </label>
                        <br />

                        <div class="col-md-3 text-center">
                          <alert type="danger" *ngIf="!makalah">
                            Kamu belum upload Makalah Seminar Mandiri
                          </alert>
                          <alert type="success" *ngIf="makalah">
                            Makalah Seminar Mandiri kamu bisa dilihat
                            <br />
                            <br />
                            <a target="_blank" href="{{makalah}}">
                              <b>Disini</b>
                            </a>
                          </alert>
                        </div>
                        <div class="col-md-9">
                          <div class="row">
                            <div class="col-md-12">
                              <input class="button" type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)">
                            </div>
                          </div>
                          <div class="row">
                            <br />
                            <div class="col-md-8">
                              <progress class="progress progress-striped" value="{{progress}}" max="100" type="warning">{{progress}}%</progress>
                              <b *ngIf="progress">{{progress}}%</b>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <alert type="info" *ngIf="makalah">
                            Silahkan Upload ulang jika ingin mengganti Makalah Seminar Mandiri
                          </alert>
                        </div>

                        <div class="col-md-12" *ngIf="pengumuman">
                          <alert type="success">
                            <h4>
                              <b>Setelah mengisi form dan upload makalah seminar kamu, silahkan persiapkan dokumen-dokumen berikut
                                dan berikan ke petugas TU Departemen Ilmu Komputer :</b>
                              <br>
                            </h4>
                            <!-- <p>1. Formulir pendaftaran seminar yang ditanda-tangani Dosen Pembimbing 1. Formulir dapat diunduh
                                          <a [href]="seminarPDF" target="_blank">
                                            <b>Disini</b>
                                          </a>
                                        </p>
                                        <p>2. Dokumen Log Bimbingan yang ditanda-tangani Dosen Pembimbing 1. Dokumen dapat diunduh
                                          <a [href]="logPDF" target="_blank">
                                            <b>Disini</b>
                                          </a>
                                        </p> -->
                            <p>1. 4 makalah seminar yang ditandatangani Dosen Pembimbing Pertama.</p>
                            <p>2. Kartu kehadiran Seminar yang berwarna kuning.</p>
                            <p>3. Kumpulkan dokumen-dokumen tersebut dalam map biru.</p>
                          </alert>
                        </div>
                      </div>
                    </form>
                  </ba-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>