<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status">

  <div *ngIf="!statusSeminar">
    <alert type="danger"><h4>Kamu belum melaksanakan <b>Seminar</b>.</h4>
      Silahkan laksanakan seminar terlebih dahulu untuk menggunakan fitur ini.
    </alert>
  </div>

  <div *ngIf="statusSeminar">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="statusAdmin === 1 && statusTempat === 1">
            <alert type="success">
              <h4>Kamu telah melaksakan <b>Sidang</b>.</h4>
              Jika ingin mengulang, silahkan hubungi komisi pendidikan untuk melakukan pengajuan pelaksanaan sidang ulang.
            </alert>
          </div>
          <div *ngIf="statusAdmin !== 1 && statusTempat !== 1">
            <ba-card title="Pengajuan Sidang Tugas Akhir" baCardClass="with-scroll">
              <form class="row form-inline" (ngSubmit)="submit()">
                <!-- nama & nim-->
                <div class="col-md-12 col-xs-12">
  
                  <div class="col-md-4 col-sm-12">
                    <div class="row">
                      <div class="col-md-2">
                        <b>Nama</b>
                      </div>
                      <div class="col-md-8">
                        : {{data.nama}}
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-2">
                        <b>NIM</b>
                      </div>
                      <div class="col-md-8">
                        : {{data.nim}}
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-8 col-sm-12">
                    <div class="row">
                      <div class="col-md-5">
                        <b>Pembimbing Ketua</b>
                      </div>
                      <div class="col-md-7">
                        : {{dosen1}}
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5">
                        <b>Pembimbing Anggota</b>
                      </div>
                      <div class="col-md-7">
                        : {{dosen2}}
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5">
                        <b>Penguji Pertama</b>
                      </div>
                      <div class="col-md-7">
                        : {{penguji1}}
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5">
                        <b>Penguji Kedua</b>
                      </div>
                      <div class="col-md-7">
                        : {{penguji2}}
                      </div>
                    </div>
                  </div>
  
                </div>
  
                <div class="col-md-12">
                  <hr>
                </div>
  
                <div class="col-sm-12 col-md-12 col-xs-12">
                  <br />
                </div>
                <div *ngIf="statusForm === 0 || !statusForm">
                  <div class="col-md-12">
                    <div class="alert alert-info">
                      <p>
                        <b>Perhatian ! Sebelum mengisi form berikut, silahkan hubungi dosen pembimbing dan penguji untuk persetujuan
                          kehadiran di sidang kamu.</b>
                        <br>
                      </p>
                      <p>Informasi yang kamu isi di bawah ini harus merupakan kesepakatan antara kamu, dosen pembimbing,
                        dan penguji. Kemudian, tunggu konfirmasi dari dosen pembimbing, penguji, dan komisi pendidikan. Pemberitahuan akan dikirmkan melalui e-mail kamu. </p>
                    </div>
                  </div>
                </div>
                <div *ngIf="statusForm === 1">
                    <div class="col-md-12">
                      <div class="alert alert-info">
                        <p>
                          <b>Perhatian!</b>
                          <br>
                        </p>
                        <p>Kamu telah mengajukan waktu pelaksanaan sidang. Mohon tunggu konfirmasi berikutnya. Jika ingin memperbaharui topik penelitian, silahkan kembali mengeklik tombol <code>Daftar</code></p>
                      </div>
                    </div>
                </div>
                <!-- app.component.html -->
                <div *ngIf="!show" class="col-md-12">
                  <alert type="danger">
                    Silahkan isi form sidang terlebih dahulu untuk <b>Upload file makalah sidang</b>
                  </alert>
                </div>
  
                <!-- judul topik -->
                <div class="form-group col-md-12 col-xs-12">
                    <label><p href primary><b>Judul Tugas Akhir</b></p></label><br />
                    <textarea name="topik" [(ngModel)]="topik" style="width: 100%" class="form-control" required></textarea>
                </div>
  
                <div class="col-sm-12 col-md-12 col-xs-12">
                  <br />
                </div>
                <div *ngIf="!statusForm || statusForm === 0">
                  <!-- Jam -->
                  <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label><b>Jam</b> (format: 24:00)</label><br />
                    <input type="text" name="jam" class="form-control" [(ngModel)]="jam" required placeholder="24:00">
                    <!--<timepicker name="mytime" [(ngModel)]="mytime" [showMeridian]="ismeridian" [showSpinners]="isArrow" required="required"></timepicker>-->
                  </div>
                  <!-- Tempat -->
                  <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label><b>Tanggal</b> (format: 2017-01-01)</label><br />
                    <my-date-picker name="mydate" [options]="myDatePickerOptions"
                      [(ngModel)]="dateFormat" (dateChanged)="onDateChanged($event)" required></my-date-picker>
                  </div>
                </div>
                <!-- Submit -->
                <div class="col-md-12 col-sm-12">
                  <div class="section-block text-right padding-right">
                    <button type="submit" class="btn btn-primary btn-lg">Daftar</button>
                  </div>
                </div>
              </form>
            </ba-card>  
          </div>
          <div *ngIf="statusForm === 2">
            <ba-card title="Unggah makalah sidang" baCardClass="with-scroll">
                <div class="col-md-12" *ngIf="show && statusForm === 2">
                  <label class="row col-md-12"><p href primary><b>Upload Makalah</b></p></label><br />
                  <div class="col-md-3 text-center">
                    <alert type="danger" *ngIf="!makalah">
                      Kamu belum upload file Sidang
                    </alert>
                    <alert type="success" *ngIf="makalah">
                      File Sidang bisa dilihat<br /><br /> <a target="_blank" href="{{makalah}}"><b>Disini</b></a>
                    </alert>
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <input class="button" type="file"
                               ngFileSelect
                               [options]="options"
                               (onUpload)="handleUpload($event)"
                               (beforeUpload)="beforeUpload($event)">
                      </div>
                    </div>
                    <div class="row">
                      <br />
                      <div class="col-md-8">
                        <progress class="progress progress-striped" value="{{progress}}" max="100" type="warning">{{progress}}%</progress><b *ngIf="progress">{{progress}}%</b>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-12">
                    <alert type="info" *ngIf="makalah">
                      Silahkan Upload ulang jika ingin mengganti file makalah Sidang
                    </alert>
                  </div>
  
                  <div class="col-md-12" *ngIf="pengumuman">
                    <alert type="success">
                      <h4><b>Setelah mengisi form, upload makalah sidang kamu, serta proses konfirmasi pelaksanaan sidang telah selesai, silahkan persiapkan dokumen-dokumen berikut dan berikan ke petugas TU Departemen Ilmu Komputer :</b><br></h4>
                      <!-- <p>1. Formulir kesiapan tugas akhir. Formulir dapat diunduh <a [href]="sidangPDF" target="_blank"><b>Disini</b></a></p>
                      <p>2. Formulir Kelengkapan ujian tugas akhir. Dokumen dapat diunduh <a [href]="kelengkapanPDF" target="_blank"><b>Disini</b></a></p> -->
                      <p>1. 4 makalah sidang yang ditanda-tangani Dosen Pembimbing Ketua.</p>
                      <p>2. Salinan nilai Seminar.</p>
                      <p>3. Salinan nilai PKL.</p>
                      <p>4. Salinan transkrip seluruh semester.</p>
                      <p>5. Salinan bukti pembayaran SPP.</p>
                    </alert>
                  </div>
                </div>
            </ba-card>
          </div>
        </div>
      </div>
  </div>
</div>
