<div *ngIf="!status">
    <div class="spinner" *ngIf="!noConn">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div *ngIf="noConn">
        <div class="text-center">
            <h5 class="red">Error Connecting to Server</h5>
            <button class="btn btn-danger" type="button" (click)="refresh()">
                <i class="ion-refresh"></i>Reload</button>
        </div>
    </div>
</div>

<div class="row" *ngIf="status">
    <div *ngIf="mahasiswa.length == 0">
        <div class="alert alert-info">
            Tidak ada mahasiswa yang mengajukan permohonan pelaksanaan sidang.
        </div>
    </div>
    <div *ngIf="mahasiswa.length > 0">
        <ba-card title="Konfirmasi Seminar Mandiri" class="col-md-12" baCardClass="with-scroll table-panel">
            <div *ngFor="let item of mahasiswa" class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <p>Mohon berikan konfirmasi permohonan pelaksanaan sidang dengan mengeklik tombol yang ada
                            di bawah.</p>
                        <p>Status Anda sebagai:
                            <b>{{ item.dosen_status }}</b>.</p>
                    </div>
                </div>
                <br>
                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>
                            <b>Nama</b>
                        </label>
                    </div>
                    <div class="col-md-9">
                        <p>: {{item.nama}}</p>
                    </div>
                    <div class="col-md-3">
                        <label>
                            <b>NIM</b>
                        </label>
                    </div>
                    <div class="col-md-9">
                        <p>: {{item.nim}}</p>
                    </div>
                    <div class="col-md-3">
                        <label>
                            <b>Topik</b>
                        </label>
                    </div>
                    <div class="col-md-9">
                        <p>: {{item.topik}}</p>
                    </div>
                    <div class="col-md-3">
                        <label>
                            <b>Tahun Masuk</b>
                        </label>
                    </div>
                    <div class="col-md-9">
                        <p>: {{item.tahun_masuk}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>
                            <b>Tempat</b>
                        </label>
                    </div>
                    <div class="col-md-9">
                        <p>: {{item.tempat ? item.tempat : '(Akan ditentukan oleh komisi pendidikan)'}}</p>
                    </div>
                    <div class="col-md-3">
                        <label>
                            <b>Tanggal</b>
                        </label>
                    </div>
                    <div class="col-md-9">
                        <p>: {{item.tanggal | date:'dd-MM-yyyy'}}</p>
                    </div>
                    <div class="col-md-3">
                        <label>
                            <b>Jam</b>
                        </label>
                    </div>
                    <div class="col-md-9">
                        <p>: {{item.jam}}</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <button class="btn btn-primary btn-lg pull-right" (click)="onSubmit(item.nim, item.dosen_status)">Diterima</button>
                <button class="btn btn-danger btn-lg pull-right" style="margin-right: 10px;" (click)="onDecline(item.nim, item.dosen_status)">Ditolak</button>
            </div>
        </ba-card>
    </div>
</div>