<div *ngIf="!status">
    <div class="spinner" *ngIf="!noConn">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div *ngIf="noConn">
        <div class="text-center">
            <h5 class="red">Error Connecting to Server</h5>
            <button class="btn btn-danger" type="button" (click)="refresh()">
                <i class="ion-refresh"></i> Reload</button>
        </div>
    </div>
</div>

<div *ngIf="status">
    <ba-card title="Konfirmasi Seminar Mandiri" baCardClass="table-panel">
        <div class="row">
            <div class="col-md-3 padding-top">
                <b>Cari Berdasarkan Nama</b>
            </div>
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="selected" [typeahead]="pengajuan" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                    [typeaheadOptionsLimit]="7" [typeaheadOptionField]="'nama'">
            </div>
            <div class="row col-md-12" *ngIf="selected !== '' && click == true">
                <br />
                <hr />
            </div>
            <div class="row" *ngIf="selected !== '' && click == true && !mhsDetail">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <b class="text-center">Tidak ada hasil</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="selected !== '' && click == true && mhsDetail">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <b>Perhatian!</b>
                    <br>
                    <div *ngIf="statusTempat === 0 && statusForm === 2">
                        <p>Mahasiswa terkait belum melengkapi berkas persyaratan seminar. Klik tombol
                            <code>Diterima</code> untuk melakukan konfirmasi kelengkapan berkas seminar.</p>
                        <p>Berkas yang perlu diperiksa:</p>
                        <ol>
                            <li>Makalah seminar yang ditanda-tangani Dosen Pembimbing.</li>
                            <li>Kartu kehadiran Seminar yang berwarna kuning.</li>
                            <li>Kumpulkan dokumen-dokumen tersebut dalam map biru.</li>
                        </ol>
                    </div>
                    <div *ngIf="statusTempat === 0 && statusForm === 0">
                        Mahasiswa terkait belum atau tidak mengajukan permohonan seminar mandiri
                    </div>
                    <div *ngIf="statusTempat === 0 && statusForm === 1">
                        Mahasiswa terkait sedang menunggu konfirmasi dosen pembimbing dan moderator
                    </div> 
                    <div *ngIf="statusTempat === 1 && statusForm === 2">
                        Pengajuan permohonan pelaksanaan seminar mandiri mahasiswa terkait telah diverifikasi.
                    </div>
                </div>
                <div *ngIf="statusForm === 2 ">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label>
                                <b>Nama</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.nama }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>NIM</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.nim }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Topik</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.topik }}</p>
                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>No HP</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.hp }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Email</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.email }}</p>
                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Tanggal</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.tanggal | date: "dd-MM-yyyy"}}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Jam</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.jam ? mhsDetail.jam : 'Belum mengajukan'}}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Tempat</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" [(ngModel)]="tempat" class="form-control" placeholder="Ruang Sidang Dept. Ilmu Komputer">
                        </div>
                    </div>
                    <div class="col-md-6">
                    
                        <div class="col-md-4">
                            <label>
                                <b>Pembahas 1</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.pembahas1 ? mhsDetail.pembahas1 : 'Belum mengajukan'}}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Pembahas 2</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.pembahas2 ? mhsDetail.pembahas2 : 'Belum mengajukan'}}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Pembahas 3</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.pembahas3 ? mhsDetail.pembahas3 : 'Belum mengajukan'}}</p>
                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Pembimbing 1</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.dosen1 }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Pembimbing 2</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.dosen2 !== null && (statusPembimbing2 !== 2 && statusPembimbing2 !== 0) ? mhsDetail.dosen2 : 'Tidak ada atau berhalangan hadir' }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Moderator 1</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.penguji1 !== null && (statusPenguji1 !== 2 && statusPenguji1 !== 0) ? mhsDetail.penguji1 : 'Berhalangan hadir' }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Moderator 2</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.penguji2 !== null && (statusPenguji2 !== 2 && statusPenguji2 !== 0) ? mhsDetail.penguji2 : 'Tidak ada atau berhalangan hadir' }}</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                    </div>
                    <div class="col-md-12">
                        <button 
                            type="button" 
                            class="btn btn-primary btn-lg pull-right" 
                            (click)="onSubmit(mhsDetail.nim, mhsDetail.nama)" 
                            [disabled]="mhsDetail.pembahas1 === null && mhsDetail.pembahas2 === null && mhsDetail.pembahas3 === nul"
                        >
                            Diterima
                        </button>
                        <div 
                            class="btn btn-danger btn-lg pull-right" 
                            (click)="onDecline(mhsDetail.nim)"
                            style="margin-right: 10px;">Ditolak
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr><br>
                    </div>
                </div>
                <div *ngIf="statusAdmin === 1">
                    <div class="col-md-12">
                        <div class="alert alert-success">
                            <h4>
                                <b>Unduh berkas-berkas di bawah ini sebagai keperluan pendukung kegiatan seminar mandiri</b>
                            </h4>
                            <p>1. Berita acara kegiatan seminar mandiri. Berkas dapat diunduh <a [href]="urlBeritaAcaraPdf" target="_blank">disini</a>.</p>
                            <p>2. Berkas absensi untuk peserta seminar mandiri, yang dapat diunduh <a [href]="urlAbsenPdf" target="_blank">disini</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ba-card>
</div>