<!-- SIEMTA v2 -->
<div *ngIf="!status">
    <div class="spinner" *ngIf="!noCon">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div *ngIf="noConn">
        <div class="text-center">
          <h5 class="red">Error Connecting to Server</h5>
          <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
        </div>
    </div>
</div>

<div *ngIf="status">
    <div *ngIf="!items">
            <div *ngIf="!konfirmasiSatu">
                <div class="alert alert-info">Tidak ada mahasiswa yang mengajukan permohonan pembimbing kedua.</div>
            </div>
    </div>
    <div *ngIf="items">
        <div *ngFor="let item of items; let i = index">
            <ba-card title="Konfirmasi Pengajuan Pembimbing Kedua">
                <div class="container">
                    <div class="col-md-11 col-sm-11">
                        <div class="alert alert-info">
                            <b>Perhatian</b>
                            <p>Silahkan lakukan konfirmasi pengjuan pembimbing kedua dengan mengeklik tombol di bawah</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nama Mahasiswa</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nama }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>NIM</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nim }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Topik</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.topik }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Pembimbing Ketua</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.dosen1 }}
                        </div>
                    </div>
                    <br>
                    <div class="row col-md-12">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Pembimbing Kedua</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.dosen2 }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>NIP</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.nip === undefined || item.nip === null || item.nip == ''">
                                -
                            </div>
                            <div *ngIf="item.nip !== undefined || item.nip !== null">
                                {{ item.nip }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nama Instansi</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.status_req === 1">
                                Departemen Ilmu Komputer, Fakultas Matematika dan Ilmu Pengetahuan Alam, Institut Pertanian Bogor
                            </div>
                            <div *ngIf="item.status_req === 2">
                                {{ item.nama_instansi }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Alamat Instansi</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.status_req === 1">
                                Jl. Meranti Wing 20 Level V Kampus Dramaga IPB
                                Bogor, Jawa Barat, Indonesia 16680
                            </div>
                            <div *ngIf="item.status_req === 2">
                                {{ item.alamat_instansi }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nomor Telepon</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.no_hp }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>E-mail</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Bidang keahlian</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.lab">
                                <div [ngSwitch]="item.lab">
                                    <div *ngSwitchCase="2">Computational Intelligence Optimization</div>
                                    <div *ngSwitchCase="1">Computer Security and Networking</div>
                                    <div *ngSwitchCase="3">Software Engineering and Information System</div>
                                </div>
                            </div>
                            <div *ngIf="!item.lab">
                                <div>{{ item.keahlian }}</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-11 text-right">
                        <button 
                        type="button" 
                        class="btn btn-danger btn-lg"
                        (click)="onDelete(i)"
                        >Tolak</button>
                        <button 
                        type="submit" 
                        class="btn btn-primary btn-lg"
                        (click)="onSubmit(i)"
                        >Terima</button>
                    </div>
                </div>
            </ba-card>
        </div>
    </div>
</div>