<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status">

    <ba-card title="Penentuan Topik dan Pembimbing" baCardClass="table-panel">

      <div class="row">
        <div class="col-md-3 padding-top">
          <b>Cari Berdasarkan Nama</b>
        </div>

        <div class="col-md-6">
          <input
            class="form-control"
            [(ngModel)]="selected"
            [typeahead]="pengajuan"
            (typeaheadOnSelect)="typeaheadOnSelect($event)"
            [typeaheadOptionsLimit]="7"
            [typeaheadOptionField]="'nama'">
        </div>
      </div>

      <div class="row col-md-12" *ngIf="selected !== '' && click == true">
        <br /><hr />
      </div>

      <div class="row" *ngIf="selected !== '' && click == true">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="alert alert-info">
              <b>Perhatian!</b>
              <p>Pengisian pembimbing 2 kini sudah dipindahkan ke fitur baru untuk pengajuan pembimbing kedua. Silahkan gunakan fitur tersebut.</p>
            </div>
          </div>
          <div class="col-md-4">
            <label><b>NIM</b></label> : {{nim}}
          </div>
          <div class="col-md-4">
            <label><b>Nama</b></label> : {{nama}}
          </div>
          <div class="col-md-4">
            <label><b>Tahun Masuk</b></label> : {{tahun_masuk}}
          </div>
          <br><br>
        </div>

        <div class="col-md-6">

          <div class="col-md-12">
            <label><b>Judul Tugas Akhir</b></label>
            <textarea name="topik" [(ngModel)]="topik" class="form-control" required></textarea>
          </div>

          <div class="row col-md-12">
            <br />
          </div>

          <div class="col-md-12">
            <label><b>Lab</b></label>
            <select [(ngModel)]="lab" class="form-control" style="height:35px" required>
              <option value="1">Net Centric Computing</option>
              <option value="2">Applied & Computational Intelligence</option>
              <option value="3">Software Engineering & Information System</option>
            </select>
          </div>

        </div>

        <div class="col-md-6">

          <div class="col-md-12">
            <label><b>Pembimbing 1</b></label>

            <input name="dosen1" [(ngModel)]="dosen1"
                [typeahead]="dosen"
                (typeaheadOnSelect)="selectDosen1($event)"
                class="form-control"
                [typeaheadOptionsLimit]="5"
                placeholder="Dosen Pembimbing Pilihan 1" required>
          </div>

          <div class="row col-md-12">
            <br />
          </div>

          <div class="col-md-12" *ngIf="dosen2">
            <label>
              <b>Pembimbing 2</b>
            </label>

            <input name="dosen2" [(ngModel)]="dosen2" class="form-control"
            disabled>
          </div>

          <div class="row col-md-12">
            <br />
          </div>

          <div class="col-md-12">
            <label><b>Penguji 1</b></label>

            <input name="dosen1" [(ngModel)]="penguji1"
                [typeahead]="dosen"
                (typeaheadOnSelect)="selectDosen3($event)"
                class="form-control"
                [typeaheadOptionsLimit]="5"
                placeholder="Dosen Penguji 1">
          </div>

          <div class="row col-md-12">
            <br />
          </div>

          <div class="col-md-12" *ngIf="!dosen2">
            <label><b>Penguji 2</b> </label>

            <input name="dosen2" [(ngModel)]="penguji2"
                [typeahead]="dosen"
                (typeaheadOnSelect)="selectDosen4($event)"
                class="form-control"
                [typeaheadOptionsLimit]="5"
                placeholder="Dosen Penguji 2">
          </div>

          <div class="row col-md-12">
            <br />
          </div>

          <div class="col-md-12 text-right">
            <div class="form-group col-md-12 col-sm-12 align-right padding-right">
              <button type="button" class="btn btn-primary btn-lg" (click)="simpan()">Simpan</button>
            </div>
          </div>

        </div>

        <div class="col-md-12">
          <h2 class="primary-text">Profil</h2>
          <hr>
        </div>

        <div class="col-md-12">
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>Tempat Lahir</b></label>
            </div>
            <div class="col-md-8">
              : {{tempat_lahir}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>Tanggal Lahir</b></label>
            </div>
            <div class="col-md-8">
              : {{tanggal_lahir.substr(0,11)}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>No. HP</b></label>
            </div>
            <div class="col-md-8">
              : {{no}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>Email</b></label>
            </div>
            <div class="col-md-8">
              : {{email}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>Nama Ayah</b></label>
            </div>
            <div class="col-md-8">
              : {{nama_ayah}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>Nama Ibu</b></label>
            </div>
            <div class="col-md-8">
              : {{nama_ibu}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>No. Telp Orang Tua</b></label>
            </div>
            <div class="col-md-8">
              : {{telp_ortu}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>No. HP Orang Tua</b></label>
            </div>
            <div class="col-md-8">
              : {{no_ortu}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>Alamat Sekarang</b></label>
            </div>
            <div class="col-md-8">
              : {{alamat}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label><b>Alamat Orang Tua</b></label>
            </div>
            <div class="col-md-8">
              : {{alamat_ortu}}
            </div>
          </div>
        </div>
      </div>

    </ba-card>

</div>
