<!-- SIEMTA v2 -->
<div *ngIf="!status">
    <div class="spinner" *ngIf="!noCon">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div *ngIf="noConn">
        <div class="text-center">
          <h5 class="red">Error Connecting to Server</h5>
          <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
        </div>
    </div>
</div>

<div *ngIf="status" class="row">
    <div *ngIf="!konfirmasiSatu">
        <div class="alert alert-info">Anda tidak memiliki konfimasi pengajuan pembimbing kedua sebagai <b>pembimbing pertama</b>.</div>
    </div>
    <div *ngIf="!konfirmasiDua">
        <div class="alert alert-info">Anda tidak memiliki konfimasi pengajuan pembimbing kedua sebagai <b>pembimbing kedua</b>.</div>
    </div>
    <div *ngIf="konfirmasiSatu">
        <div *ngFor="let item of itemsPertama; let i = index" class="row">
            <ba-card title="Konfirmasi Sebagai Pembimbing Pertama Untuk Pengajuan Pembimbing Kedua" class="col-md-12" baCardClass="table-panel">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-11">
                            <div class="alert alert-info">
                                <b>Perhatian</b>
                                <br>
                                <p>Harap memberikan konfirmasi pengajuan kepada mahasiswa terkait dengan mengeklik tombol di bawah. Status Anda adalah sebagai
                                    <b>pembimbing pertama</b>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <b>Nama Mahasiswa</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nama }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>NIM</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nim }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Topik</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.topik }}
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nama Dosen</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nama_dosen }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>NIP</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.nip === undefined || item.nip === null || item.nip == ''">
                                -
                            </div>
                            <div *ngIf="item.nip !== undefined || item.nip !== null">
                                {{ item.nip }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nama Instansi</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.status_req === 1">
                                Departemen Ilmu Komputer, Fakultas Matematika dan Ilmu Pengetahuan Alam, Institut Pertanian Bogor
                            </div>
                            <div *ngIf="item.status_req === 2">
                                {{ item.nama_instansi }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Alamat Instansi</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.status_req === 1">
                                Jl. Meranti Wing 20 Level V Kampus Dramaga IPB
                                Bogor, Jawa Barat, Indonesia 16680
                            </div>
                            <div *ngIf="item.status_req === 2">
                                {{ item.alamat_instansi }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nomor Telepon</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.no_hp }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>E-mail</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Bidang keahlian</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.lab">
                                <div [ngSwitch]="item.lab">
                                    <div *ngSwitchCase="2">Computational Intelligence Optimization</div>
                                    <div *ngSwitchCase="1">Computer Security and Networking</div>
                                    <div *ngSwitchCase="3">Software Engineering and Information System</div>
                                </div>
                            </div>
                            <div *ngIf="!item.lab">
                                <div>{{ item.keahlian }}</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-11 text-right">
                        <button 
                        type="button" 
                        class="btn btn-danger btn-lg"
                        (click)="onDeletePertama(i)"
                        >Tolak</button>
                        <button 
                        type="submit" 
                        class="btn btn-primary btn-lg"
                        (click)="onSubmitPertama(i)"
                        >Terima</button>
                    </div>
                </div>
            </ba-card>
        </div>
    </div>
    <div *ngIf="konfirmasiDua">
        <div *ngFor="let item of itemsKedua; let i = index">
            <ba-card title="Konfirmasi sebagai Pembimbing Kedua Untuk Pengajuan Pembimbing Kedua">
                <div class="container">
                   
                    <div class="row">
                        <div class="col-sm-11 col-md-11">
                            <div class="alert alert-info">
                                <b>Perhatian</b>
                                <br>
                                <p>Harap memberikan konfirmasi pengajuan kepada mahasiswa terkait dengan mengeklik tombol di bawah. Status Anda adalah sebagai
                                    <b>calon pembimbing anggota</b>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <b>Nama Mahasiswa</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nama }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>NIM</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nim }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Topik</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.topik }}
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                <b>Pembimbing Ketua</b>
                            </div>
                            <div class="col-sm-1 col-md-1">
                                :
                            </div>
                            <div class="class-sm-9 col-md-9">
                                {{ item.dosen1 }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Pembimbing Kedua</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nama_dosen }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>NIP</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.nip === undefined || item.nip === null || item.nip == ''">
                                -
                            </div>
                            <div *ngIf="item.nip !== undefined || item.nip !== null">
                                {{ item.nip }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nama Instansi</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            Departemen Ilmu Komputer, Fakultas Matematika dan Ilmu Pengetahuan Alam, Institut Pertanian Bogor
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Alamat Instansi</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            Jl. Meranti Wing 20 Level V Kampus Dramaga IPB
                            Bogor, Jawa Barat, Indonesia 16680
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nomor Telepon</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.no_hp }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>E-mail</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Bidang lab</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.lab === null">
                                <div>{{ item.keahlian }}</div>
                            </div>
                            <div [ngSwitch]="item.lab">
                                <div *ngSwitchCase="2">Computational Intelligence Optimization</div>
                                <div *ngSwitchCase="1">Computer Security and Networking</div>
                                <div *ngSwitchCase="3">Software Engineering and Information System</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-11 text-right">
                        <button 
                        type="button" 
                        class="btn btn-danger btn-lg"
                        (click)="onDeleteKedua(i)"
                        >Tolak</button>
                        <button 
                        type="submit" 
                        class="btn btn-primary btn-lg"
                        (click)="onSubmitKedua(i)"
                        >Terima</button>
                    </div>
                </div>
            </ba-card>
        </div>
    </div>
    <div *ngFor="let item of itemsKepalaBagian; let i = index">
        <div>
            <ba-card title="Konfirmasi Sebagai Kepala Bagian Untuk Pengajuan Pembimbing Kedua">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-11 col-md-11">
                            <div class="alert alert-info">
                                <b>Perhatian</b>
                                <br>
                                <p>Harap memberikan konfirmasi pengajuan kepada mahasiswa terkait dengan mengeklik tombol di bawah. Status Anda adalah sebagai <b> Kepala Bagian 
                                {{ item.lab1 == 2 ? 'Computational Intelligence Optimization' : item.lab1 == 1 ? 'Computer Security and Networking' : item.lab1 == 3 ? 'Software Engineering and Information System' : ''}} </b>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <b>Nama Mahasiswa</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nama }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>NIM</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nim }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Topik</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.topik }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Pembimbing 1</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.dosen1 }}
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Pembimbing 2</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.nama_dosen }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>NIP</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.nip === undefined || item.nip === null || item.nip == ''">
                                -
                            </div>
                            <div *ngIf="item.nip !== undefined || item.nip !== null">
                                {{ item.nip }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nama Instansi</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.status_req === 1">
                                Departemen Ilmu Komputer, Fakultas Matematika dan Ilmu Pengetahuan Alam, Institut Pertanian Bogor
                            </div>
                            <div *ngIf="item.status_req === 2">
                                {{ item.nama_instansi }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Alamat Instansi</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.status_req === 1">
                                Jl. Meranti Wing 20 Level V Kampus Dramaga IPB
                                Bogor, Jawa Barat, Indonesia 16680
                            </div>
                            <div *ngIf="item.status_req === 2">
                                {{ item.alamat_instansi }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Nomor Telepon</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.no_hp }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>E-mail</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            {{ item.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <b>Bidang lab</b>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            :
                        </div>
                        <div class="class-sm-9 col-md-9">
                            <div *ngIf="item.lab">
                                <div [ngSwitch]="item.lab">
                                    <div *ngSwitchCase="2">Computational Intelligence Optimization</div>
                                    <div *ngSwitchCase="1">Computer Security and Networking</div>
                                    <div *ngSwitchCase="3">Software Engineering and Information System</div>
                                </div>
                            </div>
                            <div *ngIf="item.lab === null">
                                <div>{{ item.keahlian }}</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-11 text-right">
                        <button 
                        type="button" 
                        class="btn btn-danger btn-lg"
                        (click)="onDeleteKepalaBagian(i)"
                        >Tolak</button>
                        <button 
                        type="submit" 
                        class="btn btn-primary btn-lg"
                        (click)="onSubmitKepalaBagian(i)"
                        >Terima</button>
                    </div>
                </div>
            </ba-card>
        </div>
    </div>
</div>