<div id="page-container" class="fade in">
 <div class="login login-with-news-feed">
    <div class="news-feed">
       <div class="news-image">  <img class="image" src="assets/img/auth.jpg" data-id="login-cover-image" alt=""> </div>
       <div class="news-caption">
          <p class="caption-title">Departemen Ilmu Komputer</p>
          <p class="light"> Fakultas Matematika dan Ilmu Pengetahuan Alam, IPB</p>
       </div>
    </div>
    <div class="right-content">
       <div class="login-header">
          <div class="brand"> <span class="logo"></span> <span class="dark">SIMETA ILKOM</span> <small> <span class="dark">Sistem Informasi Manajemen Tugas Akhir ILKOM</span></small> </div>
       </div>
       <div class="login-content">
          <form class="margin-bottom-0" (ngSubmit)="submit()">
             <p>Username IPB</p>
             <input class="form-control" type="text" [(ngModel)]="username" name="username" placeholder="Username IPB" autofocus/>
             <br /><p>Password</p>
             <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Password" autofocus/>
             <br />
             <button type="submit" class="form-control btn btn-block btn-raised btn-primary btn-lg" [disabled]="!username || !password">Sign In</button>
             <hr>
             <p class="text-center text-inverse"> © 2017 - 2018</p><br /><br />
             <h4 class="dark">VISI :</h4> <br />
            <p>Pada tahun 2020 menjadi departemen terkemuka sebagai pelopor dalam bidang ilmu dan teknologi komputer untuk mendukung pertanian modern di tingkat regional (Asia Tenggara) dengan sistem pengelolaan yang berstandar internasional
            </p>
          </form>
       </div>
    </div>
 </div>
</div>
