<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status" class="row">

  <div class="col-md-12">
    <div class="text-center">
      <a class="btn btn-primary" href="{{link}}" style="font-color:white">
        <h3 style="color:white">Unduh Ringkasan TA Bimbingan</h3>
      </a>
    </div><br><br>
  </div>

  <div class="col-md-12" *ngIf="source">
    <ba-card title="Ringkasan Mahasiswa Bimbingan" baCardClass="with-scroll table-panel">
      <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    </ba-card>
  </div>

  <div class="col-md-8">
    <ba-card title="Summary" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataSummary">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"></canvas>
      </div>
    </ba-card>
  </div>

  <div class="col-md-4">
    <ba-card title="Rekapitulasi Kolokium" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataKolokium">
        <div *ngFor="let i of tahunKolokium" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="dataKolokium[i]"
                  [labels]="dataLabel"
                  [chartType]="pieChartType">
          </canvas><br />
          Sudah Kolokium : <b>{{dataKolokium[i][0]}}</b><br />
          Belum Kolokium : <b>{{dataKolokium[i][1]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>

  <div class="col-md-4">
    <ba-card title="Rekapitulasi Praseminar" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataPraseminar">
        <div *ngFor="let i of tahunPraseminar" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="dataPraseminar[i]"
                  [labels]="dataLabel"
                  [chartType]="pieChartType">
          </canvas><br />
          Sudah Praseminar : <b>{{dataPraseminar[i][0]}}</b><br />
          Belum Praseminar : <b>{{dataPraseminar[i][1]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>

  <div class="col-md-4">
    <ba-card title="Rekapitulasi Seminar" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataSeminar">
        <div *ngFor="let i of tahunSeminar" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="dataSeminar[i]"
                  [labels]="dataLabel"
                  [chartType]="pieChartType">
          </canvas><br />
          Sudah Seminar : <b>{{dataSeminar[i][0]}}</b><br />
          Belum Seminar : <b>{{dataSeminar[i][1]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>

  <div class="col-md-4">
    <ba-card title="Rekapitulasi Sidang" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataSidang">
        <div *ngFor="let i of tahunSidang" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="dataSidang[i]"
                  [labels]="dataLabel"
                  [chartType]="pieChartType">
          </canvas><br />
          Sudah Sidang : <b>{{dataSidang[i][0]}}</b><br />
          Belum Sidang : <b>{{dataSidang[i][1]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>

  <div class="col-md-4">
    <ba-card title="Rekapitulasi SKL" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataSKL">
        <div *ngFor="let i of tahunSKL" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="dataSKL[i]"
                  [labels]="dataLabel"
                  [chartType]="pieChartType">
          </canvas><br />
          Sudah SKL : <b>{{dataSKL[i][0]}}</b><br />
          Belum SKL : <b>{{dataSKL[i][1]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>
</div>
