<div *ngIf="!status">
    <div class="spinner" *ngIf="!noConn">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div *ngIf="noConn">
        <div class="text-center">
            <h5 class="red">Error Connecting to Server</h5>
            <button class="btn btn-danger" type="button" (click)="refresh()">
                <i class="ion-refresh"></i> Reload</button>
        </div>
    </div>
</div>

<div *ngIf="status">
    <ba-card title="Konfirmasi Seminar Mandiri" baCardClass="table-panel">
        <div class="row">
            <div class="col-md-3 padding-top">
                <b>Cari Berdasarkan Nama</b>
            </div>
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="selected" [typeahead]="pengajuan" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                    [typeaheadOptionsLimit]="7" [typeaheadOptionField]="'nama'">
            </div>
            <div class="row col-md-12" *ngIf="selected !== '' && click == true">
                <br />
                <hr />
            </div>
            <div class="row" *ngIf="selected !== '' && click == true && !mhsDetail">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <b class="text-center">Tidak ada hasil</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="selected !== '' && click == true && mhsDetail">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <b>Perhatian!</b>
                    <br>
                    <div *ngIf="(statusTempat === 0 && statusForm === 0 && statusAdmin === 0) || !statusForm">
                        Mahasiswa terkait belum atau tidak mengajukan permohonan sidang
                    </div>
                    <div *ngIf="statusTempat === 0 && statusForm === 1">
                        Mahasiswa terkait sedang menunggu konfirmasi dosen pembimbing dan penguji
                    </div> 
                    <div *ngIf="statusTempat === 0 && statusForm === 2 && statusAdmin !== 1">
                        <p>Mahasiswa terkait belum melengkapi berkas persyaratan sidang. Klik tombol
                            di bawah untuk melakukan konfirmasi kelengkapan berkas sidang dan ketersediaan tempat.</p>
                        <p>Berkas yang perlu diperiksa:</p>
                        <ol>
                            <li> 4 makalah sidang yang ditanda-tangani Dosen Pembimbing Ketua </li>
                            <li> Salinan nilai Seminar </li>
                            <li> Salinan nilai PKL </li>
                            <li> Salinan transkrip seluruh semester </li>
                            <li> Salinan bukti pembayaran SPP </li>
                        </ol>
                    </div>
                    <div *ngIf="statusAdmin === 1"> 
                        <p>Anda telah melakukan konfirmasi pelaksanaan sidang mahasiswa terkait. Silahkan input tempat kembali jika ingin memperbaharui keteresdiaan tempat sidang.</p>
                    </div>
                </div>
                <div *ngIf="statusForm === 2 ">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label>
                                <b>Nama</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.nama }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>NIM</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.nim }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Topik</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.topik }}</p>
                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Tanggal</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.tanggal | date: "dd-MM-yyyy"}}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Jam</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.jam ? mhsDetail.jam : 'Belum mengajukan'}}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Tempat</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" [(ngModel)]="tempat" class="form-control" placeholder="Ruang Sidang Dept. Ilmu Komputer">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label>
                                <b>Pembimbing 1</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.dosen1 }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Pembimbing 2</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.dosen2 !== null ? mhsDetail.dosen2 : '-' }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Penguji 1</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.penguji1 }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <b>Penguji 2</b>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <p>: {{ mhsDetail.penguji2 !== null ? mhsDetail.penguji2 : '-' }}</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                    </div>
                    <div class="col-md-12">
                        <button 
                            type="button" 
                            class="btn btn-primary btn-lg pull-right" 
                            (click)="onSubmit(mhsDetail.nim, mhsDetail.nama)" 
                            [disabled]="mhsDetail.pembahas1 === null && mhsDetail.pembahas2 === null && mhsDetail.pembahas3 === nul"
                        >
                            Diterima
                        </button>
                        <button 
                            type = "button"
                            class="btn btn-danger btn-lg pull-right" 
                            (click)="onDecline(mhsDetail.nim)"
                            style="margin-right: 10px;">Ditolak
                        </button>
                    </div>
                    <div class="col-md-12">
                        <hr><br>
                    </div>
                </div>
                <div *ngIf="statusAdmin === 1 && statusTempat === 1">
                    <div class="col-md-12">
                        <div class="alert alert-success">
                            <h4>
                                <b>Unduh berkas-berkas di bawah ini sebagai keperluan pendukung kegiatan sidang</b>
                            </h4>
                            <p>1. Berkas Penilaian Sidang, yang dapat diunduh <a [href]="urlPenilaianPdf" target="_blank">disini</a>.</p>
                            <p>2. Berkas Berita Acara Sidang, yang dapat diunduh <a [href]="urlBeritaAcaraPdf" target="_blank">disini</a>.</p>
                            <p>3. Berkas Perbaikan Sidang, yang dapat diunduh <a [href]="urlPerbaikanPdf" target="_blank">disini</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ba-card>
</div>