<!-- Simeta v2 -->
<div *ngIf="!status">
    <div class="spinner" *ngIf="!noCon">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div *ngIf="noConn">
        <div class="text-center">
            <h5 class="red">Error Connecting to Server</h5>
            <button class="btn btn-danger" type="button" (click)="refresh()">
                <i class="ion-refresh"></i> Reload</button>
        </div>
    </div>
</div>

<div *ngIf="status">
    <div *ngIf="!statusProfile">
        <alert type="danger">
            Kamu belum melengkapi data diri kamu. Silahkan lengkapi
            <a [routerLink]="['/mahasiswa/profile']">
                <i>Disini</i>
            </a>
        </alert>
    </div>

    <div *ngIf="!statusTa">
        <alert type="danger">
            Kamu belum melakukan pengajuan topik tugas akhir. Silahkan lengkapi
            <a [routerLink]="['/mahasiswa/pengajuan']">
                <i>Disini</i>
            </a>
        </alert>
    </div>

    <div *ngIf="!konfirmasiNull && !konfirmasiLima">
        <alert type="info">
            Anda telah mengajukan permintaan pembimbing kedua. Silahkan tunggu konfirmasi selanjutnya.
        </alert>
    </div>

    <div *ngIf="konfirmasiLima">
        <alert type="info">
            Permohonan pengajuan pembimbing kedua sudah diterima.
        </alert>
    </div>

    <div *ngIf="statusProfile">
        <div *ngIf="statusTa">
            <div *ngIf="konfirmasiNull">
                <ba-card title="Formulir Pengajuan Pembimbingan Kedua">
                    <form *ngIf="pembimbingKeduaForm" [formGroup]="pembimbingKeduaForm" (ngSubmit)="onSubmit()" class="row">
                        <div class="form-group col-md-12">
                            <label for="namaPembimbingKedua">
                                <b>Nama Pembimbing Kedua</b>
                            </label>
                            <input type="text" class="form-control" id="namaPembimbingKedua" placeholder="Nama lengkap beserta gelar (e.g. John Doe, S.Si, M.T)"
                                formControlName="namaPembimbingKedua" name="namaDosen" [(ngModel)]="namaDosen" [typeahead]="dosen"
                                (typeaheadOnSelect)="typeaheadOnSelect($event)" (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                                [typeaheadOptionsLimit]="5" autocomplete="off" required>
                        </div>
                    
                        <div class="form-group col-md-12">
                            <label for="form-check-label" for="isDosenLuarIlkom">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="checkBoxVal" [ngModelOptions]="{standalone: true}" name="checkbox"> Dosen non-ilkom
                            </label>
                        </div>
                        <div *ngIf="checkBoxVal">
                            <div class="form-group col-md-12">
                                <label for="bidangKeahlian">
                                    <b>Keahlian</b>
                                </label>
                                <input type="text" class="form-control" id="bidangKeahlian" placeholder="e.g. Human Computer Interaction, Computer Vision"
                                    formControlName="bidangKeahlian" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="namaInstansi">
                                    <b>Instansi Asal</b>
                                </label>
                                <input type="text" class="form-control" id="namaInstansi" placeholder="e.g. Departemen Ilmu Komputer, Fakultas Komputer, Universitas B"
                                    formControlName="namaInstansi" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="alamatInstansi">
                                    <b>Alamat Instansi Asal</b>
                                </label>
                                <textarea row="5" class="form-control" id="alamatInstansi" formControlName="alamatInstansi" required></textarea>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="nomorTelpDosen">
                                    <b>Nomor Telepon</b>
                                </label>
                                <input type="number" class="form-control" id="nomorTelpDosen" formControlName="nomorTelpDosen" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="emailPembimbing">
                                    <b>E-mail Dosen Pembimbing</b>
                                </label>
                                <input type="email" class="form-control" id="emailPembimbing" placeholder="e.g. fulan@mail.com" formControlName="emailPembimbing"
                                    required>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="nipPembimbing">
                                    <b>NIP</b>
                                </label>
                                <input type="number" class="form-control" id="nipPembimbing" placeholder="e.g. 19800233015012001" formControlName="nipPembimbing">
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Daftar</button>
                        </div>
                    </form>
                </ba-card>
            </div>
        </div>
    </div>
</div>